{% extends 'main/layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password1" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Confirm Password" required>
        <label><input type="checkbox" name="is_publisher"> Register as publisher</label>
        <button type="submit">Register</button>
    </form>
    <span>{{ error }}</span>
    <a href="{% url 'register' %}">Register</a>
{% endblock %}